.dictionary {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 600px;
  background: hsl(233, 100%, 77%);
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease;
}

.dictionary-tools {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #8a97ff;
  position: absolute;
}

.close-btn {
  cursor: pointer;
  /* position: fixed; */
  align-self: flex-start;
  background: #8a97ff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn-img {
  width: 20px;
}

.close-btn:hover {
  transition: all 0.5s ease;
  background: rgb(122, 134, 223);
}

.clearDictionary {
  margin-right: 10px;
  padding: 10px;
  background: #e4996e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.clearDictionary:hover {
  transition: all 0.5s ease;
  background: #e4766e;
}

.words {
  overflow: auto;
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: flex-start;
  padding-left: 20px;
  margin-top: 60px;
  /* padding-top: 10px; */
}

.words::-webkit-scrollbar {
  display: none;
}
