@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

.add-word {
  opacity: 0;
  transition: 0.3s all ease;
}

.add-word-text {
  font-family: "Roboto";
  font-size: 16px;
  transition: all 0.2s ease;
}

.add-word-rectangle {
  padding: 10px 20px;
  background: #8997ff;
  z-index: 99999999;
  box-shadow: 0px 5px 20px rgba(65, 105, 255, 0.2);
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.add-word-triangle {
  width: 0px;
  height: 0px;
  margin-left: 5px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #8997ff transparent transparent transparent;
  transition: all 0.2s ease;
}

.add-word-addIcon {
  pointer-events: none;
  position: absolute;
  width: 25px;
  transition: all 0.2s ease;
  opacity: 0;
}

/* ----------------------------------------------------------------------- */

.finish-quiz {
  font-family: "Roboto";
  opacity: 0;
  transition: 0.3s all ease;
}

.finish-quiz-text {
  font-size: 16px;
  display: block;
}

.finish-quiz-rectangle {
  padding: 10px 20px;
  background: #8997ff;
  z-index: 99999999;
  box-shadow: 0px 5px 20px rgba(65, 105, 255, 0.2);
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.finish-quiz-triangle {
  width: 0px;
  height: 0px;
  margin-left: 5px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #8997ff transparent transparent transparent;
  transition: all 0.2s ease;
}

.finish-quiz-rectangle:hover {
  background: #ffa978;
}

.finish-quiz-rectangle:hover ~ .finish-quiz-triangle {
  border-color: #ffa978 transparent transparent transparent;
}

.finish-quiz-indication {
  pointer-events: none;
  display: none;
  align-items: center;
  font-size: 16px;
}

.arrow-img {
  width: 17px;
  margin-left: 8px;
}
