.settings {
  position: relative;
  top: -170px;
  left: 80px;
  width: 300px;
  background: #0091d7;
  transition: all 0.3s ease;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

.settingsHide {
  display: none;
}

.wordsLimitSettings {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.wordsLimitSettingsTitle {
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.wordsLimitCells {
  display: flex;
  margin-top: 10px;
}

.wordsLimitCell {
  padding: 20px;
  font-size: 22px;
  font-weight: 900;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}
