.settings {
  position: relative;
  top: -170px;
  left: 80px;
  width: 300px;
  /* height: 150px; */
  background: #0091d7;
  transition: all 0.3s ease;
  opacity: 0;
  padding: 10px;
}

.wordsLimit-settings {
  display: flex;
  flex-direction: column;
  background: #019fee;
  padding: 15px;
  /* border-radius: 10px; */
}

.wordsLimit-settings-title {
  font-weight: 500;
  color: white;
}

.wordsLimit-cells {
  display: flex;
  margin-top: 10px;
}

.wordsLimit-cell {
  padding: 20px;
  font-size: 22px;
  font-weight: 900;
  color: white;
  background: #0091d7;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.wordsLimit-cell:hover {
  color: #0091d7;
  background: white;
}
