.main {
  width: 500px;
  height: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 96%;
  padding: 2%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 900;
  color: #0091d7;
}
.settingsImg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.content {
  /* background: #8997ff; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 96%;
  padding: 2%;
  display: flex;
  align-items: center;
}

.dictionaryButton {
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background: #8997ff;
  display: flex;
  height: 20px;
}

.dictionaryButton:hover {
  transition: all 0.3s ease;
  background: rgb(128, 141, 236);
}

.book {
  width: 20px;
  margin-right: 5px;
}

.startTest {
  padding: 15px 30px;
  background: #0091d7;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  animation: backchange 4s ease infinite;
}

/* .startTest:hover {
  box-shadow: 0 0 10px 5px rgb(235, 235, 235);
} */

/* @keyframes backchange {
  0% {
    background: #0091d7;
  }
  50% {
    background: #016ca1;
  }
  100% {
    background: #0091d7;
  }
} */
